<%include partials/header1 %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=found.title%></div>
    <form class="ui form" action="/blogs/<%= found._id %>?_method=PUT" method="POST" >
        <div class="field">
            <label >Title</label>
    <input type="text" name="found[title]" value="<%=found.title%>" >
</div><div class="field">
       

        <label >image</label>
    <input type="text" name="found[image]" value="<%=found.image%>">
</div><div class="field">
        <label >description</label>
        <textarea name="found[description]" cols="30" rows="4"><%=found.description%></textarea>
   </div>
    <button class="ui violet basic button">Edit</button>
    </form>
</div>
<%include partials/footer %>
